@page
@model PBBookStore.Pages.CheckoutConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! We hope you enjoy your books!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home Page</a>
</div>